.header__logo {
  margin-bottom: 40px;
  background: url(../../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 142px;
  height: 33px;
  transition: opacity .2s linear;
  cursor: pointer;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-bottom: 30px;
    margin-left: 27px;
    width: 105px;
    height: 25px;
    background-size: contain;
  }
}
