.popup__input-error {
  margin: 0;
  margin-top: 5px;
  opacity: 0;
  height: 15px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #f00;
}
