.link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;
    cursor: pointer;
}

.link:hover {
    color: rgba(255, 255, 255, .6);
}