.content__title {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .content__title  {
        margin-top: 40px;
    }
}