.content__title {
    padding: 0;
    margin: 0;
    margin-top: 34px;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}