/*  Сторонние библиотеки  */
@import url("./vendor/normalize.css");

/*  Шрифты  */
@import url("./vendor/fonts.css");

/*  Общие стили страницы  */
@import url("./blocks/root/root.css");
@import url("./blocks/page/page.css");

/*  header  */
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__link/header__link.css");
@import url("./blocks/header/__email/header__email.css");
@import url("./blocks/header/__container/header__container.css");

/*  content  */
@import url("./blocks/content/content.css");
@import url("./blocks/content/_type/content_type_form.css");
@import url("./blocks/content/__title/content__title.css");

/*  profile  */
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__avatar-container/profile__avatar-container.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__edit-avatar/profile__edit-avatar.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__description/profile__description.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");

/*  places  */
@import url("./blocks/places/places.css");

/*  cards  */
@import url("./blocks/cards/cards.css");

/*  card  */
@import url("./blocks/card/card.css");
@import url("./blocks/card/__image/card__image.css");
@import url("./blocks/card/__name/card__name.css");
@import url("./blocks/card/__like-container/card__like-container.css");
@import url("./blocks/card/__icon-like/card__icon-like.css");
@import url("./blocks/card/__like-counter/card__like-counter.css");
@import url("./blocks/card/__icon-like/_active/card__icon-like_active.css");
@import url("./blocks/card/__trash/card__trash.css");
@import url("./blocks/card/__trash/_disable/card__trash_disable.css");

/*  footer  */
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");

/*  popup  */
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_type/popup_type_image.css");
@import url("./blocks/popup/_type/popup_type_info-tool-tip.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__container/_type/popup__container_type_form.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__title/_type/popup__title_type_center.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__input/_type/popup__input_type_error.css");
@import url("./blocks/popup/__input-error/popup__input-error.css");
@import url("./blocks/popup/__input-error/_active/popup__input-error_active.css");
@import url("./blocks/popup/__button/popup__button.css");
@import url("./blocks/popup/__button/_inactive/popup__button_inactive.css");
@import url("./blocks/popup/__icon-close/popup__icon-close.css");
@import url("./blocks/popup/__container-image/popup__container-image.css");
@import url("./blocks/popup/__image/popup__image.css");
@import url("./blocks/popup/__image/_type/popup__image_type_success.css");
@import url("./blocks/popup/__image/_type/popup__image_type_error.css");
@import url("./blocks/popup/__image-title/popup__image-title.css");

/* form */
@import url("./blocks/form/form.css");
@import url("./blocks/form/__input/form__input.css");
@import url("./blocks/form/__input/_type/form__input_type_black.css");
@import url("./blocks/form/__input-error/form__input-error.css");
@import url("./blocks/form/__button/form__button.css");
@import url("./blocks/form/__button/_type/form__button_type_white.css");

/* link */
@import url("./blocks/link/link.css");
@import url("./blocks/link/_type/link_type_small.css");

/*  миксы  */
@import url("./blocks/root/__page/root__page.css");
@import url("./blocks/page/__content/page__content.css");
@import url("./blocks/content/__places/content__places.css");
@import url("./blocks/page/__footer/page__footer.css");